
 <form class="form-inline row">
    <div class="form-group col-xs-3">
        <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="vm.query">
            <div class="input-group-addon">Search</div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th ng-repeat="itemHeader in headerTable">
            {{itemHeader}}
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | filter:query">
            <td >
                <a ng-href="#/items/{{item.id}}" ng-click="changeModalItem">{{item.id}}</a>
            </td>
            <td >
                {{item.job}}
            </td>
            <td >
                {{item.name}}
            </td>
            <td>
                {{item.lastName}}
            </td>
            <td>
                {{item.tel}}
            </td>
        </tr>
    </tbody>
</table>